* {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  padding: 60px;
}

input{
  font-size: 1.2rem;
  width: 100%;
  color: grey;
}

.card{
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  width: 100%;
  max-height: 500px;
}

.card-grid{
  display: flex;
  flex-flow:wrap;
  flex-direction: row;
}